* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    height: 100vh;
}

main {
    flex-grow: 1;
}

#map {
    width: 100%;
    height: 100%;
}

.headerNavigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.title {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters {
    flex-grow: 5;
    display: flex;
    justify-content: end;
    padding-right: 1em;
    align-items: center;
}


