* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    height: 100vh;
}

main {
    flex-grow: 1;
}

#map {
    width: 100%;
    height: 100%;
}




